.container {
    background-color: #222831;
}

.step_one_style {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}

.child_div {
    flex: 1;
    padding: 20px 10px 30px;
    background-color: #212121;
    border-radius: 8px;
        /* padding: 20px; */
        /* flex: 1; */
    min-width: 260px;
}

.imageSection {
    flex: 1;
    padding: 20px 10px 30px 30px;
}


.textStyle {
    color: white;
    font-weight: 500;
    /* font-family: 'Oswald'; */
}

.section {
    padding: 50px 30px;
    border-bottom: 1px solid #ccc;
    min-height: 300px;
    background: #222831;
}


.details-card {
    background-color: #212121;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    min-width: 260px;
}

.image {
    width: 35rem;
    height: 28rem;
    object-fit: cover;
    /* border-radius: 50%; */
    /* border: 4px solid #fff; */
}

@media only screen and (max-width : 600px) {
    .step_one_style {
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: center;
        }
                .image {
                    width: 20rem;
                    height: 19rem;
                    object-fit: cover;
                    /* border-radius: 50%; */
                    /* border: 4px solid #fff; */
                }
        .textStyle {
            color: white;
            font-weight: 500;
            font-size: small;
     }
         .imageSection {
             flex: 1;
             padding: 10px 10px 10px 10px;
         }
}